.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
            0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}


.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}